@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Site em desenvolvimento. Mais informações em breve.</p>
<p>@ViewData["Email"]</p>
<br />
<p>@ViewData["Developer"]</p>
